html, body {
    margin: auto 0;
    background-color: #F5F5F5;
}

body {
    display: grid;
}

header {
    margin: 30px;
    background-color: #FFF;
}

article {
    margin: 5px;
    text-align: center;
}

footer {
    margin: 30px;
    background-color: #FFF;
    text-align: center;
}