* {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --secondary-color: rgb(54, 54, 54);
    --primairy-color: rgb(214, 214, 214);
    font-size: 16px;
}

html,
body {
    margin: auto 0;
    background-color: var(--primairy-color);
}

nav {
    justify-content: center;
    text-align: center;
}

.nav_wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style-type: none;
    justify-content: right;
}

.nav_wrapper li {
    padding: .2rem .9rem;
}

.nav_link a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 1.1rem 1.4rem;
    border-radius: 4px;
}

.nav_link a:hover {
    background-color: var(--primairy-color);
    color: var(--secondary-color);
    border-radius: 4px;
}

article {
    margin: 5px;
    text-align: center;
    color: var(--secondary-color);
}

section {
    height: 100vh;
}

#about {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 1rem 0;
    padding: 0 40px;
}

.about_wrapper {
    line-height: 40px;
    text-align: left;
}

.span--name {
    font-weight: 700;
}

.cta--work {
    background: inherit;
    cursor: pointer;
    width: 10rem;
    height: 3rem;
    position: static;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-top: 1rem;
    list-style-type: none;
}

.cta--work a {
    text-decoration: none;
    display: block;
    color: var(--secondary-color);
    padding: 1rem;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
}

.cta--work a:hover {
    color: var(--primairy-color);
    background: var(--secondary-color);
}

.port_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.port_card {
    border: 1px solid var(--secondary-color);
    width: 30rem;
    height: 20rem;
    margin: .3rem;

}

footer,
header {
    background-color: var(--secondary-color);
    color: var(--primairy-color);
}

footer {
    text-align: center;
    padding: 1.25rem 0;
}